// Fonts
@import url('https://fonts.googleapis.com/css?family=Inconsolata|Open+Sans:300,400,600,700&amp;subset=cyrillic'); // Variables
@import 'variables';

* {
    box-sizing: border-box;
}

body {
    font-family: $font-family-sans-serif;
    font-weight: $font-weight-base;
    font-size: $font-size-base;
    color: $font-color-base;
    line-height: $line-height-base;
    padding: 0;
    margin: 0;
    // Gradient background
    background: #36D1DC;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #5B86E5, #36D1DC);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
// Styles for all elements

button {
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    outline: none;
}

a {
    text-decoration: none;
    color: $grey;
}

a:hover {
    color: $black;
}

ul {
    list-style: none;
}

input {
    transition: all ease-in-out $btn-trans-delay;
    width: 100%;
    height: $input-height;
    border: 1px solid $input-border-color;
    border-radius: 5px;
    padding: 5px 10px;
    outline: none;
    margin: 0;
}

input::placeholder,
textarea::placeholder {
    opacity: 0.3;
}

input:focus,
textarea:focus {
    transition: all ease-in-out $btn-trans-delay;
    box-shadow: 0 0 20px rgba(0,0,0,.1);
}

textarea {
    transition: all ease-in-out $btn-trans-delay;
    border: 1px solid $input-border-color;
    border-radius: 5px;
    padding: 5px 10px;
    outline: none;
    resize: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 2px;
    text-align: left;
    overflow-y: auto;
}

h1 {
  margin: 0;
  padding: 0;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 20px;
  padding-bottom: 0.3em;
  border-bottom: 1px solid rgba(0,0,0,.15);
}

h1:first-child {
	padding-top: 0;
}


// Styles for classes

.container {
    width: 100vh;
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
}

.container main {
    display: flex;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 0 100px rgba(0,0,0,.15);
    background-color: $white;
    height: 70vh;
    width: 900px;
    overflow: hidden;
}

.container main.auth {
  height: 35vh;
  width: 40vh;
  padding:0;
}

.container main header {
    display: flex;
    flex-direction: column;
}

.container main header nav {
    display: flex;
    flex-direction: column;
    width: 11em;
    padding-right: 1em;
    border-right: 1px solid $light-grey;
    height: 100%;
}

.container main header nav button {
    width: 100%;
}

.container main header nav ul {
    padding: 0;
}

.container main header nav ul li {
    padding-bottom: 0.7rem;
}

.container main section {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container main section .content {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0.9em;
    width: 100%;
}


.container main section .top-bar {
    height: 1.2em;
    display: block;
    margin: 0.6em;
}

.logo {
    font-size: $logo-font-size;
    font-weight: 300;
    text-align: left;
    padding-top: 0.5em;
    padding-bottom: 1em;
    color: $blue;
}
// Buttons

.btn {
    display: inline-block;
    transition: all ease-in-out $btn-trans-delay;
    height: $btn-default-height;
    border-radius: 5px;
    line-height: 27px;
    text-align: center;
    padding-top: 0;
}

.btn i {
    float: left;
    line-height: 27px;
}

.btn.btn-sm {
    height: $btn-sm-height;
    line-height: $btn-sm-height!important;
}

.btn.btn-sm i {
    line-height: $btn-sm-height!important;
}

.btn.btn-lg {
    height: $btn-lg-height;
    line-height: 25px;
}

.btn.btn-lg i {
    line-height: 25px;
}
// $blue Button

.btn.btn-blue {
    background-color: $white;
    border: 1px solid $blue;
    color: $blue;
}

.btn.btn-blue:hover {
    transition: all ease-in-out $btn-trans-delay;
    background-color: $blue;
    color: $white;
}

.btn.btn-blue.active {
    background-color: $blue;
    color: $white;
    opacity: 0.8;
    pointer-events: none;
}

.btn.btn-blue:active {
    opacity: 0.7;
}
// $green Button

.btn.btn-green {
    background-color: $white;
    border: 1px solid $green;
    color: $green;
}

.btn.btn-green:hover {
    transition: all ease-in-out $btn-trans-delay;
    background-color: $green;
    color: $white;
}

.btn.btn-green.active {
    background-color: $green;
    color: $white;
    opacity: 0.8;
    pointer-events: none;
}

.btn.btn-green:active {
    opacity: 0.7;
}
// $yellow Button

.btn.btn-yellow {
    background-color: $white;
    border: 1px solid $yellow;
    color: $yellow;
}

.btn.btn-yellow:hover {
    transition: all ease-in-out $btn-trans-delay;
    background-color: $yellow;
    color: $white;
}

.btn.btn-yellow.active {
    background-color: $yellow;
    color: $white;
    opacity: 0.8;
    pointer-events: none;
}

.btn.btn-yellow:active {
    opacity: 0.7;
}
// $red Button

.btn.btn-red {
    background-color: $white;
    border: 1px solid $red;
    color: $red;
}

.btn.btn-red:hover {
    transition: all ease-in-out $btn-trans-delay;
    background-color: $red;
    color: $white;
}

.btn.btn-red.active {
    background-color: $red;
    color: $white;
    opacity: 0.8;
    pointer-events: none;
}

.btn.btn-red:active {
    opacity: 0.7;
}
// $grey Button

.btn.btn-grey {
    background-color: $white;
    border: 1px solid $grey;
    color: $grey;
}

.btn.btn-grey:hover {
    transition: all ease-in-out $btn-trans-delay;
    background-color: $grey;
    color: $white;
}

.btn.btn-grey.active {
    background-color: $grey;
    color: $white;
    opacity: 0.8;
    pointer-events: none;
}

.btn.btn-grey:active {
    opacity: 0.7;
}
// Button groups

.btn-group {
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn-group button:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
}

.btn-group button:nth-child(2n) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.btn-group button:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0;
}
// Tables

.table {
    align-self: stretch;
    font-size: 0.8rem;
}

.table td,
.table th {
    padding: 0.3rem;
}

.table tbody td {
    height: 1.8em;
}

.table td a {
    font-weight: 500;
    color: #424242;
}

.table thead th {
    height: 1.8em;
    font-weight: 500;
    color: $black;
    vertical-align: middle;
}

.table thead {
    border-bottom: 2px solid $input-border-color;
    background-color: $super-light-grey;
}

.table.table-fixed {
    table-layout: fixed;
}

.table.table-fixed tbody {
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    max-height: 53vh;
}

.table.table-fixed thead tr {
    display: block;
    position: relative;
}

.table.table-fixed td:nth-child(1),
.table.table-fixed th:nth-child(1) {
    min-width: 30px;
}

.table.table-fixed td:nth-child(2),
.table.table-fixed th:nth-child(2) {
    min-width: 120px;
}

.table.table-fixed td:nth-child(3),
.table.table-fixed th:nth-child(3) {
    min-width: 200px;
}

.table.table-fixed td:nth-child(4),
.table.table-fixed th:nth-child(4) {
    min-width: 100px;
}

.table.table-fixed td:nth-child(5),
.table.table-fixed th:nth-child(5) {
    min-width: 100px;
}

.table.table-fixed td:nth-child(5),
.table.table-fixed th:nth-child(5) {
    min-width: 100px;
}
// Cards

.card-container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    overflow-x: hidden;
    overflow-y: auto;
}

.card {
    margin: 0 1em 1em;
    flex: 0 0 28%;
    width: 100%;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,.1);
    box-shadow: 0 3px 10px rgba(0,0,0,.1);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    overflow: hidden;
}

.card:hover {
    box-shadow: 2px 5px 10px rgba(0,0,0,.15);
}

.card.card-hover .card-row {
    transition: all 0.15s ease-in-out;
}

.card.card-hover .card-row:hover {
    transition: all 0.15s ease-in-out;
    background-color: $super-light-grey;
    font-size: 1.1em;
}

.card-title {
    display: flex;
    border-bottom: 1px solid $light-grey;
    width: 100%;
    height: 30px;
    background-color: $super-light-grey;
    justify-content: space-between;
    align-items: center;
}

.card-title.footer {
    font-size: 0.7rem;
    border-top: 1px solid $light-grey;
    border-bottom: none;
    background-color: $super-light-grey;
    overflow: hidden;
}

.card-title.footer a {
    color: $blue;
    padding: 0 0.7em;
}

.card-title.progress-bar {
    background-color: $blue;
    height: 30px;
    line-height: 30px;
    color: $white;
    opacity: 0.6;
    padding: 0 10px;
    font-family: 'Inconsolata', monospace;
    width: 17vh;
    text-align: center;
}

.card .card-title.title {
    padding: 0.8em;
    font-weight: 600;
}

.card .card-title.title a {
    color: $grey;
}

.card .card-title.title a:hover {
    color: $black;
}

.card .card-body {
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    align-items: center;
    justify-content: center;
    background-color: $white;
    overflow: hidden;
}

.card .card-body .card-row {
    display: flex;
    width: 100%;
    line-height: 25px;
    padding-left: 0.5em;
    padding-right: 0.5em;
    align-items: center;
    border-bottom: 1px solid $light-grey;
    height: 25px;
    justify-content: space-between;
    overflow: hidden;
}

.card .card-body .card-row:last-child {
    border-bottom: none;
}

.card-mark {
    height: 30px;
    width: 10%;
    line-height: 30px;
    text-align: center;
    color: $white;
    font-weight: 700;
    padding: 0 5px;
}

.card-mark.card-green {
    background-color: $green;
}

.card-mark.card-yellow {
    background-color: $yellow;
}

.card-mark.card-red {
    background-color: $red;
}

.card-title.footer a:hover {
    color: $black;
}
// Forms

.form-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 100%;
}

.form-content .form-left {
    display: flex;
    flex-direction: column;
    padding-right: 1em;
    flex: 0 0 40%;
    justify-content: flex-start;
}

.form-content .form-right {
    display: flex;
    flex-direction: column;
    flex: 0 0 60%;
    justify-content: flex-start;
}

.form-content .form-full {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-row {
    padding-bottom: 0.8em;
}

.form-row .card {
  margin: 0;
}

.form-row button,
.form-row input,
.form-row textarea {
    width: 100%;
    margin-top: 5px;
}

.input-group-prepend {
    display: flex;
}

.input-group-prepend button {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    height: auto;
    width: auto;
}

.input-group-prepend input {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0;
}

.input-group-prepend span {
    border: 1px solid $input-border-color;
    height: 2.3em;
    line-height: 2.3em;
    padding: 0 5px;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: $super-light-grey;
}
// Helpers

.w100 {
    width: 100%!important;
}

.h100 {
    height: 100%!important;
}

.text-center {
  text-align: center;
}
