// Fonts
@import url('https://fonts.googleapis.com/css?family=Inconsolata|Open+Sans:300,400,600,700&amp;subset=cyrillic'); // Variables

.container-fluid {
    font-size: 0.875rem;
    font-weight: 300;
    padding: 0!important;
    margin: 0!important;
    overflow: hidden;
}

.navbar {
    z-index: 101;
    position: fixed;
    width: 100%;
    box-shadow: 0 -1px 30px rgba(0,0,0,.2);
}

.container-fluid {
    margin: 0;
    padding: 0;
}

.content {
    overflow: auto;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 18em;
    z-index: 100;
    padding-top: 15px;
    height: 100vh;
    background-color: #f5f5f5;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li a {
    font-size: 0.975rem;
    font-weight: 400;
    display: block;
    padding: 0.5em 0;
    text-decoration: none;
    text-transform: uppercase;
    transition: all ease-in-out 0.15s;
    color: black;
    white-space: nowrap;
}

.sidebar ul li a:hover {
    color: #bdbdbe;
    transition: all ease-in-out 0.15s;
}
