@import url(https://fonts.googleapis.com/css?family=Inconsolata|Open+Sans:300,400,600,700&amp;

subset=cyrillic);* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  color: #7e8d85;
  line-height: 0.9rem;
  padding: 0;
  margin: 0;
  background: #36D1DC;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#5B86E5), to(#36D1DC));
  background: linear-gradient(to right, #5B86E5, #36D1DC);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

button {
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  outline: none;
}

a {
  text-decoration: none;
}

a:hover {
  color: #000;
}

ul {
  list-style: none;
}

input {
  -webkit-transition: all ease-in-out 0.15s;
  transition: all ease-in-out 0.15s;
  width: 100%;
  height: 2.3em;
  border: 1px solid #bdbdbe;
  border-radius: 5px;
  padding: 5px 10px;
  outline: none;
  margin: 0;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  opacity: 0.3;
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  opacity: 0.3;
}

input::placeholder,
textarea::placeholder {
  opacity: 0.3;
}

input:focus,
textarea:focus {
  -webkit-transition: all ease-in-out 0.15s;
  transition: all ease-in-out 0.15s;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

textarea {
  -webkit-transition: all ease-in-out 0.15s;
  transition: all ease-in-out 0.15s;
  border: 1px solid #bdbdbe;
  border-radius: 5px;
  padding: 5px 10px;
  outline: none;
  resize: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 2px;
  text-align: left;
  overflow-y: auto;
}

/*---- Main classes ----*/

.container {
  width: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  padding: 0;
}

.container main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1em;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 100px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 100px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  height: 70vh;
  width: 900px;
  overflow: hidden;
}

.container main header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container main header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 11em;
  padding-right: 1em;
  border-right: 1px solid #e0e0e0;
  height: 100%;
}

.container main header nav button {
  width: 100%;
}

.container main header nav ul {
  padding: 0;
}

.container main header nav ul li {
  padding-bottom: 0.7rem;
}

.container main section .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  padding: 0.9em;
}

.container main section .top-bar {
  height: 1.2em;
  display: block;
  margin: 0.6em;
}

.logo {
  font-size: 1.5rem;
  font-weight: 300;
  text-align: left;
  padding-top: 0.5em;
  padding-bottom: 1em;
  color: #0083BB;
}

/*----  Buttons ----*/

.btn {
  display: inline-block;
  -webkit-transition: all ease-in-out 0.15s;
  transition: all ease-in-out 0.15s;
  height: 2em;
  border-radius: 5px;
  line-height: 27px;
  text-align: center;
  padding-top: 0;
}

.btn i {
  float: left;
  line-height: 27px;
}

.btn.btn-sm {
  height: 1.8em;
  line-height: 1.8em !important;
}

.btn.btn-sm i {
  line-height: 1.8em !important;
}

.btn.btn-lg {
  height: 2.2em;
  line-height: 25px;
}

.btn.btn-lg i {
  line-height: 25px;
}

.btn.btn-blue {
  background-color: #fff;
  border: 1px solid #0083BB;
  color: #0083BB;
}

.btn.btn-blue:hover {
  -webkit-transition: all ease-in-out 0.15s;
  transition: all ease-in-out 0.15s;
  background-color: #0083BB;
  color: #fff;
}

.btn.btn-blue.active {
  background-color: #0083BB;
  color: #fff;
  opacity: 0.8;
  pointer-events: none;
}

.btn.btn-blue:active {
  opacity: 0.7;
}

.btn.btn-green {
  background-color: #fff;
  border: 1px solid #29bf89;
  color: #29bf89;
}

.btn.btn-green:hover {
  -webkit-transition: all ease-in-out 0.15s;
  transition: all ease-in-out 0.15s;
  background-color: #29bf89;
  color: #fff;
}

.btn.btn-green.active {
  background-color: #29bf89;
  color: #fff;
  opacity: 0.8;
  pointer-events: none;
}

.btn.btn-green:active {
  opacity: 0.7;
}

.btn.btn-yellow {
  background-color: #fff;
  border: 1px solid #ffb300;
  color: #ffb300;
}

.btn.btn-yellow:hover {
  -webkit-transition: all ease-in-out 0.15s;
  transition: all ease-in-out 0.15s;
  background-color: #ffb300;
  color: #fff;
}

.btn.btn-yellow.active {
  background-color: #ffb300;
  color: #fff;
  opacity: 0.8;
  pointer-events: none;
}

.btn.btn-yellow:active {
  opacity: 0.7;
}

.btn.btn-red {
  background-color: #fff;
  border: 1px solid #f44336;
  color: #f44336;
}

.btn.btn-red:hover {
  -webkit-transition: all ease-in-out 0.15s;
  transition: all ease-in-out 0.15s;
  background-color: #f44336;
  color: #fff;
}

.btn.btn-red.active {
  background-color: #f44336;
  color: #fff;
  opacity: 0.8;
  pointer-events: none;
}

.btn.btn-red:active {
  opacity: 0.7;
}

.btn.btn-grey {
  background-color: #fff;
  border: 1px solid #6c757d;
  color: #6c757d;
}

.btn.btn-grey:hover {
  -webkit-transition: all ease-in-out 0.15s;
  transition: all ease-in-out 0.15s;
  background-color: #6c757d;
  color: #fff;
}

.btn.btn-grey.active {
  background-color: #6c757d;
  color: #fff;
  opacity: 0.8;
  pointer-events: none;
}

.btn.btn-grey:active {
  opacity: 0.7;
}

.btn-group {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-group button:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 0;
}

.btn-group button:nth-child(2n) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.btn-group button:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 0;
}

.table {
  -ms-flex-item-align: stretch;
      align-self: stretch;
  font-size: 0.8rem;
}

.table td,
.table th {
  padding: 0.3rem;
}

.table tbody td {
  height: 1.8em;
}

.table td a {
  font-weight: 500;
  color: #424242;
}

.table thead th {
  height: 1.8em;
  font-weight: 500;
  color: #000;
  vertical-align: middle;
}

.table thead {
  border-bottom: 2px solid #bdbdbe;
  background-color: #f5f5f5;
}

.table.table-fixed {
  table-layout: fixed;
}

.table.table-fixed tbody {
  display: block;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  max-height: 53vh;
}

.table.table-fixed thead tr {
  display: block;
  position: relative;
}

.table.table-fixed td:nth-child(1),
.table.table-fixed th:nth-child(1) {
  min-width: 30px;
}

.table.table-fixed td:nth-child(2),
.table.table-fixed th:nth-child(2) {
  min-width: 120px;
}

.table.table-fixed td:nth-child(3),
.table.table-fixed th:nth-child(3) {
  min-width: 200px;
}

.table.table-fixed td:nth-child(4),
.table.table-fixed th:nth-child(4) {
  min-width: 100px;
}

.table.table-fixed td:nth-child(5),
.table.table-fixed th:nth-child(5) {
  min-width: 100px;
}

.table.table-fixed td:nth-child(5),
.table.table-fixed th:nth-child(5) {
  min-width: 100px;
}

.card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow-x: hidden;
  overflow-y: auto;
}

.card {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 28%;
          flex: 1 0 28%;
  width: 28%;
  font-size: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  margin: 0 1em 1em;
  overflow: hidden;
}

.card:hover {
  -webkit-box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.15);
}

.card-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #e0e0e0;
  width: 100%;
  height: 30px;
  background-color: #f5f5f5;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-title.footer {
  font-size: 0.7rem;
  border-top: 1px solid #e0e0e0;
  border-bottom: none;
  background-color: #f5f5f5;
  overflow: hidden;
}

.card-title.footer a {
  color: #0083BB;
  padding: 0 0.7em;
}

.card-title.progress-bar {
  background-color: #0083BB;
  height: 30px;
  line-height: 30px;
  color: #fff;
  opacity: 0.6;
  padding: 0 10px 0;
  font-family: 'Inconsolata', monospace;
  width: 17vh;
  text-align: center;
}

.card .card-title.title {
  padding: 0.8em;
  font-weight: 600;
}

.card .card-title.title a {
  color: #6c757d;
}

.card .card-title.title a:hover {
  color: #000;
}

.card .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 0.8rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  overflow: hidden;
}

.card .card-body .card-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  line-height: 25px;
  padding-left: 0.5em;
  padding-right: 0.5em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #e0e0e0;
  height: 25px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

.card .card-body .card-row:last-child {
  border-bottom: none;
}

.card-mark {
  height: 30px;
  width: 10%;
  line-height: 30px;
  text-align: center;
  color: #fff;
  font-weight: 700;
  padding: 0 5px 0;
}

.card-mark.card-green {
  background-color: #29bf89;
}

.card-mark.card-yellow {
  background-color: #ffb300;
}

.card-mark.card-red {
  background-color: #f44336;
}

.card-title.footer a:hover {
  color: #000;
}

.w100 {
  width: 100% !important;
}

.h100 {
  height: 100% !important;
}

